/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/*$grid-float-breakpoint: 900px;  */
//= require devise/new

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-inverse {
  background-color: #a81c37;
  //background-image: linear-gradient(to bottom,#a81c37 0,#a81c37 100%);
  //background-repeat: repeat-x;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
  //z-index: 999;
  color: #fff;
  border-color: #a81c37;
}

.navbar{
  border-radius: 0px;
}

.navbar-brand{
  padding: 2px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f3f3f3;
}


.img_logo{
  width: 30%;
}


@media screen and (min-width: $screen-lg){
  .navbar{
    height: 70px;
  }

  .img_logo{
      width: 40%;
  }

  body{
    margin-top: 75px;
  }

}


@media (min-width:$screen-sm) and (max-width: $screen-lg){

  body{
    padding-top: 155px;
    margin-top:5px;
    /*background-color: #F00*/
  }

 
  .navbar{height: 150px;
    font-size: 3em;
  }

  .img_logo{
    width: 80%;
  }
  
  ul.nav.navbar-nav{
    margin-top: 35px;
  }

  .container{
  width: 100%
  }
}
